/** COLORS
    #1d1c1d black
    #ffffff
    #281243 violet
    #4e8cac buye
*/

html, body {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    background-color: #1d1c1d;
    color: white;
    font-size: 100%;
    line-height: 1.25;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: white;
}

div {
    /*width: 100%;*/
}

p, ul {
    line-height: 1.6;
}

.button {
	background-color: #1d1c1d;
	border-radius: 24px;
	border: 1px solid #281243;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 16px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #281243;
}
.button:hover {
	background-color: #141414;
}
.button:active {
	position: relative;
	top: 1px;
}

.clearfix {
    overflow: auto;
}
 
.footer {
    color: white;
    line-height: 1.6;
    padding: 1rem 0 2rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

.section {
   padding: 3rem 2rem 4rem; 
}

.section.nav {
    padding: 1rem 1rem;
}

.bg-lblue {
    background-color: #4e8cac;
    background-image: url("images/Spider_Med_kansikuva2.png");
    background-position: center;
    background-size: cover;
    color: #1d1c1d;
    height: 60vh;
}

.bg-violet {
    background-color: #281243;
    background-image: url("images/Spider_Med_kansikuva1.png");
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.intro {

}

.intro h3 {
    padding-bottom: 1rem;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
}

.picture {
    /*width: 100%;*/
    padding-bottom: 2rem;
}

.picture img {
    /*width: 100%;*/
}

.statement {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.vcenter {
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}

.upcase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.to-left {
    float: left;
}

.to-right {
    float: right;
}

@media only screen and (min-width: 768px) {
    .half {
        width: 50%;
    }

    .third {
        width: 33%;
    }

    .to-left-m {
        float: left;
        width: 50%;
    }
}

.to-right#after {
    clear: both;
}
